    body {
      margin: 0;
      font-family: "Segoe UI", sans-serif;
      background: #000;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      overflow: hidden;
    }

    body::before {
      content: "";
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
      background: url('./assets/Creator-login.png') center/cover no-repeat;
      filter: blur(10px) brightness(0.6);
      z-index: -1;
    }

    .container {
      background: rgba(31, 30, 30, 0.733);
      border: 1px solid rgba(133, 133, 133, 0.1);
      backdrop-filter: blur(12px);
      padding: 3rem 2rem;
      border-radius: 16px;
      text-align: center;
      box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
      width: 90%;
      max-width: 400px;
    }

    h1 {
      font-size: 2rem;
      margin-bottom: 1rem;
      color: #00d4ff;
    }

    p {
      font-size: 1rem;
      color: #ccc;
      margin-bottom: 2rem;
    }

    button {
      background-color: #00d4ff;
      border: none;
      padding: 0.75rem 1.5rem;
      font-size: 1rem;
      color: #000;
      border-radius: 6px;
      cursor: pointer;
      transition: background 0.3s;
    }

    button:hover {
      background-color: #00aacc;
    }

    #auth-message {
      margin-top: 1rem;
      color: #f66;
    }
        body {
      margin: 0;
      font-family: "Segoe UI", sans-serif;
      background: #000;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      overflow: hidden;
    }

    body::before {
      content: "";
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
      background: url('./assets/Creator-login.png') center/cover no-repeat;
      filter: blur(10px) brightness(0.6);
      z-index: -1;
    }

    .container {
      background: rgba(31, 30, 30, 0.733);
      border: 1px solid rgba(133, 133, 133, 0.1);
      backdrop-filter: blur(12px);
      padding: 3rem 2rem;
      border-radius: 16px;
      text-align: center;
      box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
      width: 90%;
      max-width: 400px;
    }

    h1 {
      font-size: 2rem;
      margin-bottom: 1rem;
      color: #00d4ff;
    }

    p {
      font-size: 1rem;
      color: #ccc;
      margin-bottom: 2rem;
    }

    button {
      background-color: #d30202;
      border: none;
      padding: 0.75rem 1.5rem;
      font-size: 1rem;
      color: #fffbfb;
      border-radius: 6px;
      cursor: pointer;
      transition: background 0.3s;
    }

    button:hover {
      background-color: #00aacc;
    }

    #auth-message {
      margin-top: 1rem;
      color: #f66;
    }